body {
  	background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    
	background-image: url(../img/closet.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1, h2, h3, h4 {
    text-align: center;
}
form {
    margin: 0 auto;
    display: block;
    text-align: center;
}
button {
    background-color: #ff9b34;
    color: #000000;
}
.row {
    margin: 25px;
}
.centered-img {
    margin: 0 auto;
    display: block;
    width:400px;
}
.theme-orange {
    color: #ff9b34;
}
.theme-blue {
    color: #47a3da;
}
.form-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}
#loading-spinner {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
    top:0;
    left:0;
    margin: auto;
    background: #FFFFFF;
}
.spinner {
    width: 100px;
    height: 100px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    margin: auto;
}
#email-status {
    display:inline-block;
}